            p{
                margin: 0;
                padding: 0;
                font-family:verdana;
            }
            .title-text {
                font-size: 24px;
                font-weight: bold;
                color: #333;
            }
        
            .subtitle-text {
                margin-top:5px;
                font-size: 18px;
                color: #666;
            }
        
            .content-text {
                margin-top:40px;
                font-size: 16px;
                color: #020202;
                margin-bottom:40px;
                width:300px;
            }
        
            button {
                padding: 10px 20px;
                font-size: 16px;
                color: #fff;
                background-color: #228922;
                border: none;
                border-radius: 7px;
                cursor: pointer;
                transition:background-color 0.2s;
            }
            button:hover {
                background-color: #000000;
            }
            button:active {
                background-color: rgb(25, 105, 174);
            }
